*{
    margin: 0;
}
.logo img{
    padding: 10px;
    width: 70px;
    height: 70px;
}
header{
    background-color:rgb(18, 92, 177);
}
.h1{
    background-color:rgb(18, 92, 177);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.discribtion{
    color: rgb(0, 0, 0);
    background-color:rgb(18, 92, 177);
    padding: 10px;
    font-family:monospace;
}
footer{
    color: antiquewhite;
    background-color:rgb(20, 20, 20);
}
.f{
    padding: 10px;
    font-family:monospace;
}
section{
    background-color:rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:60vh;
}
.container{
    width: 45%;
    height: 35vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px, -12px -12px 20px;
    

}
.display #screen{
    width: 98%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: right;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.buttons .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    margin: 2px;

}